html {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
}
body{
    background-image: url('icon.jpg');
    background-size:cover;
    
}
.privacytext{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.part1priv,.part3priv{
    width: 30%;
}
h1,p,h2{
    font-family: monospace;  
}
h1{
    font-size: 40px;
}
h2{
    font-size:30px;
}
p{
    font-size: 16px;
}
.home{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 35px;
    webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}
.part3priv{
    display: flex;
    justify-content: center;
}
.home:hover{
    cursor: pointer;
    background-color:yellow;
}